@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-stone-50 text-stone-800 antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }

  img {
    content-visibility: auto;
  }
}

@layer utilities {
  .transition-default {
    @apply transition-colors duration-200;
  }
}
